# Global
*.env
*.tar
*.tar.gz

# -------------------------------------------------------------------------

*/filebrowser/appdata

*/gitea/data
*/gitea/mysql

*/javamc/data
*/javamc/backups

*/karakeep/data
*/karakeep/meilisearch

*/mcauth/data

*/microbin/data

*/minio/data

*/nextcloud/data
*/nextcloud/mariadb
*/nextcloud/redis

*/nginx/data
*/nginx/letsencrypt
*/nginx/nginx

*/pihole/etc-pihole

*/samba/adri
*/samba/javi
*/samba/shared

*/suwayomi/data

*/vaultwarden/data
*/vaultwarden/master.txt

*/jellyfin/media
*/jellyfin/config
*/jellyfin/cache

*/wireguard/aconf
*/wireguard/conf
*/wireguard/data

*/lazydocker/config

*/portainer/server/data

*/formrelay/data

# -------------------------------------------------------------------------
*/llama/models
*/llama/Project*

*/kyutai/hf_cache
*/kyutai/voices

*/whisper/hf_cache
