*.env
*.tar
*.tar.gz

*/gitea/gitea
*/gitea/mysql

*/javamc/data
*/javamc/backups

*/llama/models
*/llama/Project*

*/nextcloud/data
*/nextcloud/mariadb

*/nginx/data
*/nginx/letsencrypt
*/nginx/nginx

*/microbin/data

*/samba/adri
*/samba/shared
*/samba/javi

*/vaultwarden/data
*/vaultwarden/master.txt

*/wireguard/etc_wireguard
*/wireguard/adguard_work
*/wireguard/adguard_conf
