*.env
*.tar
*.tar.gz

*/gitea/gitea
*/gitea/mysql

*/javamc/data
*/javamc/backups

*/llama/models
*/llama/Project*

*/nextcloud/data
*/nextcloud/mariadb

*/nginx/data
*/nginx/letsencrypt
*/nginx/nginx

*/microbin/data

*/samba/adri
*/samba/shared
*/samba/javi

*/vaultwarden/data
*/vaultwarden/master.txt

*/pihole/etc-pihole

*/karakeep/data
*/karakeep/meilisearch

*/minio/data

*/suwayomi/data

*/wireguard/aconf
*/wireguard/conf
*/wireguard/data

*/kyutai/hf_cache
*/kyutai/voices

*/whisper/hf_cache
