MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
CB_USER=
CB_PASSWD=

SAMBA_DIR=./internal

DOMAIN=drive.lunarflame.dev
DOM_FORMATTED=drive\.lunarflame\.dev
OFFICE_DOMAIN=office.lunarflame.dev
